body {
    margin:0;
    font-family: Verdana, serif;
    font-size: 11pt;
    min-width: 580px;
    overflow-y: scroll;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #008686;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
    content: ' ';
}

.nav {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    background-color: #202020 !important;
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;
    font-size: 12pt;
}

span{
    display: block;
}

.nav-bar{
    width: 100%;
    overflow: hidden;
    color: #d0d0d0 !important;
    background-color: #202020 !important;
}

.nav-item{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 32px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.nav-item:hover:not(.nav-active){
    background: #000000;
    color: #d0d0d0;
}


.nav-right{
    float: right !important;

}

.nav-active{
    background-color: #008686;
    color: #d0d0d0;
}

.content {
    max-width: 1160px;
    margin: auto;
    min-width: 596px;
    position: relative;
    clear: both;
}

.section {
    border-style: solid;
    border-color: #00a8a8;
    padding: 5px;
    margin-bottom: 25px;
    border-width: 2px;
}

.dropdown{
      width: 213px;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    width: 213px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;

}

.dropdown-content .divider{
height: 1px;
margin: 9px 0;
overflow: hidden;
background-color: #e5e5e5;
padding: 0;
}

.dropdown .show {
    display: block;
}

.error-code{
    font-size: 256px;
    margin: 0;
    font-weight: 800;
    color: #4d4d4d;
}

.error{
    text-align: center;
}

.error .error-code{
    margin: 0 0 -32px 0;
}

button{
    padding: 8px 32px;
    font-size: 11pt;
    text-align: center;
    margin: 0 0 8px 0;
    outline: none;
    border: 1px solid #00a8a8;
    color: #00a8a8;
    background-color: #ffffff;
    width: 300px;
    height: 35px;
}

button:hover {
    background-color: #00a8a8;
    color: #ffffff;   
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

select{
    width: 100%;
}

form input{
    padding: 0 0 32px 0;
    width: 100%;
}


h1{
    font-size: 36px;
}

h4{
    margin: 5px 0 15px 0;
}

h6{
    font-size: 16px;
    font-weight: normal;
}
.section p{
    margin: 5px 0 5px 0;
}

p{
    text-align: justify;
}
.body{
    padding: 64px 0 32px 0;
    clear: both;
}

input[type=checkbox] {
    width: 20px;
}

input[type=file] {
    padding: 8px 32px;
    font-size: 11pt;
    text-align: center;
    margin: 0 0 8px 0;
    outline: none;
    border: 1px solid #00a8a8;
    color: #00a8a8;
    background-color: #ffffff;
    width: 234px;
    height: 17px;
}

.section textarea{
    font-family: courier;
    resize: vertical;
    width: 99.7%;
    height: auto;
    margin: 8px 0;
    background-color: #D3D3D3;
    border: none;
   color: #000000;
   font-size: 12pt;
}

textarea{
    font-family: courier;
    resize: none;
    width: 99.7%;
    height: auto;
    margin: 8px 0;
    background-color: #D3D3D3;
    border: none;
   color: #000000;
   font-size: 12pt;
}

.body .row{
    display: block;
    overflow: auto;
    padding: 0 0 16px 0;
    border-top: 1px solid gray;
}

.body .topic-index{
    width: 15%;
    float: left;
}

.body .topic-details{
    width: 85%;
    float: right;
}

code {
 padding: 2px 4px; 
color: #000000;
white-space: nowrap;
background-color: #edffff;
border-radius: 4px;
}


.body .right textarea{
    margin-bottom: 40px;
}

footer .left{
float: left;
}

footer .right{
float: right;
}